nbbuild/web/wsdl/OprService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.opr.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.opr.com" xmlns:intf="http://service.opr.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.opr.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doLogin">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doLoginResponse">
    <complexType>
     <sequence>
      <element name="doLoginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doLoginRequest">

      <wsdl:part element="impl:doLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doLoginResponse">

      <wsdl:part element="impl:doLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OprWebService">

      <wsdl:operation name="doLogin">

         <wsdl:input message="impl:doLoginRequest" name="doLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:doLoginResponse" name="doLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OprServiceSoapBinding" type="impl:OprWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OprServiceService">

      <wsdl:port binding="impl:OprServiceSoapBinding" name="OprWebService">

         <wsdlsoap:address location="http://localhost:8080/OnlinePlotRental/services/OprWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
